/****** RESET ******/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: white;
}

/****** UTILITIES ******/

.flex{
    display: flex;
}

.fdir-col{
    flex-direction: column;
}

.container-80{
    width: 80%;
    margin: 0 auto;
}

.ta-r{
    text-align: right;
}

.br-5{
    border-radius: 5px;
}

.mr-10{
    margin-right: 10px;
}

.green{
    color: greenyellow;
}

/****** HEADER ******/

.main-header .header-nav{
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    justify-content:  flex-end;
    align-items: center;
}

.main-header .header-nav .header-button{
    padding: 5px;
    display: inline-block;
    background-color: gray;
    transition: background-color .5s, color .5s;
}

.main-header .header-nav .header-button:hover{
    background-color: lightgray;
    color: black;
}


/****** MAIN ******/

main{
    height: calc(100vh - 150px);
    overflow-y: scroll;
}

main .container-80.flex{
    flex-wrap: wrap;
    justify-content: center;
}

main .webcam.flex{
    padding: 10px 5px;
    flex-basis: 20%;
    align-items: flex-end;
    position: relative;
}

main .webcam.flex img{
    height: 190px;
}

main .webcam .user{
    border-top-right-radius: 5px;
    padding: 10px 5px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 5%;
    left: 0%;
}


/****** FOOTER ******/

footer{
    background-color: rgb(59, 59, 59);
    height: 100px;
}

footer .buttons-section{
    height: 100%;
    border: 1px solid white;
}

footer .buttons-section:nth-child(2){
    flex-grow: 1;

    justify-content: center;
}

footer .buttons-section .functional-button{
    margin: 5px 5px;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer .buttons-section .functional-button .button-icon{
    font-size: 30px;
}

footer .buttons-section .functional-button:hover{
    background-color: #888;
}

footer .buttons-section .functional-button .menu-opener{
    padding: 1px;
    border-radius: 3px;
    cursor: pointer;
}

footer .buttons-section .functional-button .menu-opener:hover{

    background-color: rgba(0,0,0,0.5);
}

footer .buttons-section .end-meeting{
    height: 100%;
    width: 200px;
    color: rgb(161, 0, 0);
    font-size: 24px;
    background-color: #999;
    cursor: pointer;

    justify-content: center;
    align-items: center;
}